.game{

height: 200px;
width: 600px;
border: 1px solid black;
margin: auto;

}


#dino{

    height: 50px;
    width: 50px;
   background-image: url(a.png);
   background-size: 50px, 50px;
    position: relative;
    top: 150px;
    
}
.jump{animation: jump 0.3s linear;}

@keyframes jump{
    0%{
        top: 150px;}
    30%{
        top: 130px;} 
    50%{ 
        top: 80px;}   
    80%{
        top: 130px;}  
    100%{
        top: 150px;}          
}

#cactus{

    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;
    background-color: dimgrey;
    animation: block 1s infinite ;
}

@keyframes block{
    0%{
        left: 580px;
    }
    100%{
        left: -20px;
    }
}
